
.search-area {
 padding-top: 2em;

}

button i{
	font-size: larger !important
}

.results-block {
  margin-bottom: 1rem;
 }

 .no-stocks { 


 } 


 .search-options-btn {
 	margin-right: 0px !important;
 
 }